.current:before{
    content:'';
    position:absolute;
    z-index:-1;
    background-color: #c9af8d;
    width:60px;
    height:5px;
    margin-top:25px;
}
h1,h2,figcaption{
    font-family:'Roboto Slab';
}
h1{
    text-align:center;
    color:#496989;
}
h2:before{
    content:'';
    position:absolute;
    z-index:-1;
    background-color: #c9af8d;
    width:200px;
    height:20px;
    margin-top:25px;
    margin-left:110px;
}
h2{
    font-size:30px;
    color:#496989;
    margin: 50px 90px;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}
.gallery img{
    width:640px;
    filter:drop-shadow(10px 10px 10px #a1a1a1);
}
.gallery figcaption{
    margin:10px 0 30px 0;
    text-align:center;

}