body{
    margin:0;
    padding:0;
    overflow-x: hidden;
    background-color:#dfddd9;
}
.topnav {
    position : absolute;
    top : 24px;
    right : 24px;;

  }
.topnav a {
    color: #496989;
    font-family:‘Bodoni MT’;
    margin-left : 64px;
    text-decoration: none;
    font-size: 19px;

  }
  
.topnav a:hover {
    color: black;
}

.quicknav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:80px;
}

.to-page {
  font-family: "Trebuchet MS";
  color: #afa59c;
  font-size: 20px;
  margin: 0 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.to-page:hover{
    color:#000000;
}
.arrow{
    width:40px;
    padding:0 20px;
    opacity:50%;
}
.arrow:hover{
    opacity:100%;
}
