.current:before{
    content:'';
    position:absolute;
    z-index:-1;
    background-color: #c9af8d;
    width:70px;
    height:5px;
    margin-top:25px;
}
h1,h2,li{
        font-family:'Roboto Slab';
        color:#496989;
}
h1{
    text-align:center;
}
h2:before{
    content:'';
    position:absolute;
    z-index:-1;
    background-color: #c9af8d;
    width:350px;
    height:20px;
    margin-top:25px;
    margin-left:130px;
}
h2{
    font-size:30px;
    margin: 50px 90px;
}
.projects{
    text-align:center;
}
ul{
    list-style-type:none;
}
li{
    font-size:25px;
    padding-top: 50px;
}
a{
    text-decoration: none;
    color:#496989
}
a:hover{
    font-weight:bold;
    color:#000000
}
.project a,img{
    display:block;
}
.projectimg{
    width:640px;
    padding:20px 0;
    margin-left:auto;
    margin-right:auto;
    transition: transform .2s;
    filter:drop-shadow(10px 10px 10px #a1a1a1)
}
.projectimg:hover{
    transform: scale(1.1);
}